<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SalaryMapper">
   <resultMap id="SalaryResultSet" type="Salary">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="salaryNo" column="SALARY_NO"/>
      <result property="schoolYear" column="SCHOOL_YEAR"/>
      <result property="schoolMonth" column="SCHOOL_MONTH"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCONUT"/>
      <result property="salaryTotal" column="SALARY_TOTAL"/>
      <result property="profName" column="NAME"/>
      <result property="profCollege" column="CATEGORY_NO"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="patment_date" column="PAYMENT_DATE"/>
      <result property="basic_Salary" column="BASIC_SALARY"/>
      <result property="overtime" column="OVERTIME"/>
      <result property="bonus" column="BONUS"/>
      <result property="incentive" column="INCENTIVE"/>
      <result property="meals" column="MEALS"/>
      <result property="education" column="EDUCATION"/>
      <result property="income_Tax" column="INCOME_TAX"/>
      <result property="national_Pension" column="NATIONAL_PENSION"/>
      <result property="health_Insurance" column="HEALTH_INSURANCE"/>
      <result property="care_Insurance" column="CARE_INSURANCE"/>
      <result property="employment_Insuracne" column="EMPLOYMENT_INSURANCE"/>
      <result property="other_Deducation" column="OTHER_DEDUCTION"/>
      <result property="payment_Confirmation_Date" column="PAYMENT_CONFIRMATION_DATE"/>
   </resultMap>

     
	<!-- 월급리스트 -->
	<select id="selectList" resultMap="SalaryResultSet">
 		SELECT
 		    SALARY_NO,
			SCHOOL_YEAR,
			SCHOOL_MONTH,
			BANK,
			ACCOUNT,
			SALARY_TOTAL
		FROM TB_SALARY
		JOIN TB_PROFESSOR USING(PROFESSOR_ID)
		WHERE PROFESSOR_ID = #{ profId}
	</select>
	
	<!-- 월급상세페이지 -->
	<select id="selectSalary" parameterType="_int" resultMap="SalaryResultSet">
	
	</select>
</mapper>
