/* 맨위 글씨 */
.professor_info{width:65%; height: 100%;}

.semi_notice{width:35%; height:100%;}


.professor_info{width: 100%;}

.professor_info tbody tr td:nth-child(1){
    width: 15%;
}

.professor_info tbody tr td:nth-child(2){
    width: 55%;
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.professor_info tbody tr td:nth-child(3){
    width: 30%;
}

#semi_title{margin-left: 18%;
    margin-bottom: 43px;}




 margin-left: 120%;
}
/* 타이틀  */



/* 학기 title */
/* #select_title{
    position: relative;
    margin: 0;
    left: 16%;
    margin-top: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 900;
    color: black;
} */


/* #main_con{
    border: 1px solid red;
} */



/* # 표 부분 */
#rest_table_area{
    padding: 10px; 
    height: 30%;

    margin-top: 45px;
    }
    
    #rest_lecture{
    width: 85%;
    border-top: 5px solid rgb(46, 109, 151);
    color: #808080;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    
    }
    
    #rest_lecture tr{
    height: 30px;
    border-bottom: solid rgb(149, 149, 150) 1px;
    text-align: center;
    
    }
    #rest_lecture  tbody tr:nth-child(2n-1){
    background: #f8f6ff;
    }
    
    #rest_lecture thead tr th{
        text-align: center;
    }
    

    /* 표 여백 지정 */
    #rest_lecture thead tr th:nth-child(1){
        width: 100%;
    }
    

    #rest_lecture thead tr th div{
        display: inline-block;
        float: left;
        margin-left: 5%;
        font-size: 13px;
    }

    #rest_lecture tbody tr td div{
        font-size:10px;
    }

    #rest_lecture tr p{
    margin-bottom: 0;
    
    }

