/* 맨위 글씨 + 이미지 */

.professor_info{width:65%; height: 100%;}

.semi_notice{width:35%; height:100%;}


.professor_info{width: 100%;}

.professor_info tbody tr td:nth-child(1){
    width: 15%;
}

.professor_info tbody tr td:nth-child(2){
    width: 55%;
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.professor_info tbody tr td:nth-child(3){
    width: 30%;
}

#semi_title{margin-left: 18%;
    margin-bottom: 43px;}

#professor_icon{
    position: relative;
    margin-left: 120%;
}





/* 공지사항, 등록하기 버튼 */
#title_button{
    width: 100%;
    margin-top: 60px;
    height: 60px;
 }

 #board_title{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-left: 15%;
 }

 #board_button{
    position: relative;
    float: right;
    top: 33px;
    margin-right: 31%;
    border-radius: 3px;
 }

 
 #rest_table_area{
    padding: 10px; 
    height: 30%;
    margin-top: 25px;
    background-color: white;
    border-top: 1px solid rgb(136, 130, 130);
    border-bottom: 1px solid rgb(136, 130, 130);
    border-radius: 7px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }
    
    #rest_notice{
    width: 97%;
    border-top: 5px solid rgb(46, 109, 151);
    color: #808080;
    margin-top: 25px;
    margin-bottom: 25px;

    margin-left: auto;
    margin-right: auto;
    
    }



/* 표 안에 설정 */

 #rest_notice tr{
    height: 30px;
    border-bottom: solid rgb(149, 149, 150) 1px;
    text-align: center;
    
    }
    #rest_notice  tbody tr:nth-child(2n-1){
    background: #f8f6ff;
    }
    
    #rest_notice thead tr th{
        text-align: center;
    }
    /* #rest_lecture thead tr th:first-child,
    #rest_lecture thead tr th:nth-child(2){
        width: 80px;
    }
    #rest_lecture thead tr th:nth-child(6){
    width: 300px;
    } */

    #rest_notice thead tr th:nth-child(1){
        width: 10%;
    }
    #rest_notice thead tr th:nth-child(2){
        width: 40%;
    }
    #rest_notice thead tr th:nth-child(3){
        width: 20%;
    }
    #rest_notice thead tr th:nth-child(4){
        width: 20%;
    }
    #rest_notice thead tr th:nth-child(5){
        width: 10%;
    }

    #rest_notice tr p{
    margin-bottom: 0;
    
    }