
 .top-Text{
   background-color: #edf1fc;
    border-bottom: solid #4e73df;
    height: 100px;
    padding: 40px;
    position: relative;
    bottom: 25px;
    white-space: nowrap;
    color: #4e73df;
    
} 


 #rest_table_area{
 padding: 10px; 
 height: 500px;
 overflow-y: scroll;
 }
 
 #graduation-t{
 width: 100%;
 border-top: 5px solid rgb(46, 109, 151);
 color: #808080;
 
 
 }
 
 #graduation-t tr{
 height: 30px;
 border-bottom: solid rgb(149, 149, 150) 1px;
 text-align: center;
 
 }
 #graduation-t  tbody tr:nth-child(2n-1){
 background: #f8f6ff;
 }
 
 #graduation-t thead tr th{
     text-align: center;
 }
 #graduation-t thead tr th:first-child
 {
     width: 120px;
 }
 #graduation-t thead tr th:nth-child(6){
 width: 200px;
 }
 #graduation-t tr p{
 margin-bottom: 0;
 
 }

 