/* 맨위 글씨 */

.professor_info{width:65%; height: 100%;}

.semi_notice{width:35%; height:100%;}


.professor_info{width: 100%;}

.professor_info tbody tr td:nth-child(1){
    width: 70%;
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.professor_info tbody tr td:nth-child(2){
    width: 30%;
}

#semi_title{margin-left: 18%;}


/* 타이틀  */
#select_title{

    margin-top: 70px;
    margin-left: 25%;
    background-color: #d8dadc;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

#semester{
    width: 50%;
    margin-top: 15px;
    margin-left: 15%;
}

/* 학기 title */
/* #select_title{
    position: relative;
    margin: 0;
    left: 16%;
    margin-top: 30px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 900;
    color: black;
} */

#select_semester{
    position: relative;
    height: 60px;
    top: 50%;
    left: 20%;
    padding: 10px;
    border: 0.3px solid rgb(35, 196, 153);
    background: white;
    border-radius: 10px;
}

/* #main_con{
    border: 1px solid red;
} */


#year{
    height: 35px;
    width: 120px;
    margin-top: 2px;
    margin-left: 15%;
    margin-right:20px;
}

#grade{
    height: 35px;
    width: 100px;
    margin-left: 10%;

}

#submit{
    margin-left: 10%;
    height: 38px;
    width: 55px;
    border: 0.3px solid rgb(35, 196, 153);
    background-color: rgb(74, 99, 98);
    color: rgb(146, 253, 225);
    border-radius: 10px;
}

#rest_table_area{
    padding: 10px; 
    height: 30%;
    overflow-y: scroll;
    margin-top: 45px;
    }
    
    #rest_lecture{
    width: 85%;
    border-top: 5px solid rgb(46, 109, 151);
    color: #808080;
    margin: auto;
    /* margin-left: auto;
    margin-right: auto; */
    
    }
    
    #rest_lecture tr{
    height: 30px;
    border-bottom: solid rgb(149, 149, 150) 1px;
    text-align: center;
    
    }
    #rest_lecture  tbody tr:nth-child(2n-1){
    background: #f8f6ff;
    }
    
    #rest_lecture thead tr th{
        text-align: center;
    }
    /* #rest_lecture thead tr th:first-child,
    #rest_lecture thead tr th:nth-child(2){
        width: 80px;
    }
    #rest_lecture thead tr th:nth-child(6){
    width: 300px;
    } */

    #rest_lecture thead tr th:nth-child(1){
        width: 10%;
    }
    #rest_lecture thead tr th:nth-child(2){
        width: 10%;
    }
    #rest_lecture thead tr th:nth-child(3){
        width: 50%;
    }
    #rest_lecture thead tr th:nth-child(4){
        width: 20%;
    }
    #rest_lecture thead tr th:nth-child(5){
        width: 10%;
    }

    #rest_lecture tr p{
    margin-bottom: 0;
    
    }

