
.top {
    background-color: #edf1fc;
    border-bottom: solid #4e73df;
    height: 100px;
    padding: 40px;
    position: relative;
    bottom: 25px;
    white-space: nowrap;
    color: #4e73df;
}
#explanation{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#eva_table label{
    margin-right: 10px;

}


#submit_btn{
    float: right;
  
}
