html, body {

    /* margin: 0; */

    height: 100%;

    /* overflow: hidden; */

}

.content{
    /* background-color: #eeeded; */
    width: 100%;
    /* height: 100%; */
}

.top{
    background-color: #edf1fc;
    border-bottom: solid #4e73df;
    height: 100px;
    padding: 40px;
    position: relative;
    bottom: 25px;
    white-space: nowrap;
    color: #4e73df;
}

/*알림*/
.warn_1{
    background-color: #FFE8E8;
    border: 1px solid red;
    width: 65%;
    /* height: 20%; */
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 20px;
    font-size: 12px;
}


.warn_2{
    background-color: #E4E4E4 ;
    border: 1px solid #868686 ;
    width: 75%;
    /* height: 20%; */
    margin: auto;
    display: block;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 12px;
}

/*알림창 밑 부분*/

.leave{
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*휴학신청부분*/
 .con1{
    display: flex;
    justify-content: center;
    margin-left: 130px;
    width: 75%;
    height: 20%;
}

.con2{
    display: inline-block;
    margin-right: 110px;
}

.list{
    /* display: flex;
    justify-content: space-around; */
    font-size: 10pt;
    position: relative;
    left: 10px;
    white-space: nowrap;
}

.line{
    border-top: 1px solid #c5d9e8;
    display: inline-block;
    font-size: 8pt;
    margin-left: 15px;
    white-space: nowrap;
}

.con3{
    display: inline-block;
    margin-left: 80px;
    margin-right: 40px;
}

.box{
    width: 200px;
}

.select{
    width: 105px;
    height: 25px;
    font-size: 8pt;
    background-color: #E4E4E4;
    border: 1px solid #868686;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

#set1,#set2{display:none;}
.con4{
    display: inline-block;
    margin-right: 100px;
}




