.content{
    /* background-color: #eeeded; */
    width: 100%;
    /* height: 100%; */
}

.top{
    background-color: #BDD4E9;
    height: 100px;
    padding: 40px;
    /* font-size: 25pt; */
    position: relative;
    bottom: 25px;
    white-space: nowrap;
}

.salary{
    font-size: 25px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 15px;
}

.select{
    width: 105px;
    height: 25px;
    font-size: 8pt;
    background-color: #E4E4E4;
    border: 1px solid #868686;
    border-radius: 5px;
    position: relative;
    bottom: 5px;
    left: 15px;
}

#button{
    width: 90px;
    height: 25px;
    font-size: 10pt;
    background-color: #E4E4E4;
    border: 1px solid #868686;
    border-radius: 5px;
}

.print{
    display: inline-block;
    margin-left: 91%;
    margin-right: 1%;
    position: relative;
    bottom: 10px;
}

table{
    text-align: center;
}

.head{
    position: relative;
    top: 10px;

    /* width: 160px; */
}

.alarm{
    background-color: #E4E4E4 ;
    border: 1px solid #868686 ;
    width: 75%;
    height: 80px;
    margin: auto;
    border-radius: 20px;
    margin-top: 35px;
}

#alarm{
    margin-left: 95px;
    position: relative;
    bottom: 20px;
    
}



