@charset "UTF-8";
/* 맨위 글씨 + 이미지 */

.professor_info{width:65%; height: 100%;}

.semi_notice{width:35%; height:100%;}


.professor_info{width: 100%;}

.professor_info tbody tr td:nth-child(1){
    width: 15%;
}

.professor_info tbody tr td:nth-child(2){
    width: 55%;
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
}

.professor_info tbody tr td:nth-child(3){
    width: 30%;
}

#semi_title{margin-left: 18%;
    margin-bottom: 43px;}

#professor_icon{
    position: relative;
    margin-left: 120%;
}



/* 과제제출 */
#write_title{
    height: 15%;
    width: 80%;
}


#write_title p{
    position: relative;
    top: 8%;
    left: 12%;
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
}



/* 과제 작성 폼 */
#write_assignment{
    height: 70%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-top: 1px solid rgb(136, 130, 130);
    border-bottom: 1px solid rgb(136, 130, 130);
    border-radius: 7px;
}

#write_content{
    height: 100%;
}

/* 제목 + 비밀글 */
#title_secret{
    width: 99%;
    height: 100%;
    margin: auto;
}

#title_secret tbody tr td:nth-child(1){
    width: 15%;
    padding-right: 1%;
}

#title_secret tbody tr td:nth-child(2){
    width: 85%;
}

#textTitle{
    width: 93%
}


#summernote{
    height: 99%;
}
#title_secret tbody tr td label{
    float: right;
    position: relative;
    right: 7%;
}

.write_subject2{
    margin-top: -98%;
}

#title_secret tbody tr:nth-child(1){
    height: 10%;
    border-bottom: 1px solid rgb(136, 134, 134, .3);
    border-width: 110%;
}

#title_secret tbody tr:nth-child(2){
    height: 10%;
    border-bottom: 1px solid rgb(136, 134, 134, .3);
    border-width: 110%;
}

#title_secret tbody tr:nth-child(3){
    height: 70%;
    border-bottom: 1px solid rgb(136, 134, 134, .3);
    border-width: 110%;
}

#title_secret tbody tr:nth-child(4){
    height: 10%;
}


/* summernote 전체 포함 */
.note-editor{
    height: 90%;
    width: 100%;
}

.note-editing-area{
    height: 89%;
}



    /* 본문 */
    .page {
        margin-top: 130px;
        margin-left: 330px;
    }

    #container {
        margin-top: 30px;
        margin-bottom: 30px;
        color: #252525;
    }

    .question-table p {
        margin: 10px;
    }

    .table-bordered {
        border: 5px solid #ddd;
    }

    #answer {
        border: 1px solid #555;
        width: 99%;
        height: 110px;
        resize: none;
    }

    .writeBtn {
        float: right;
    }

    /* footer */
    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }
    
    .question-table th {
    	text-align:center;
    }
