<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="classBoardMapper">
	<!--    과목의 리절트맵-->
    <resultMap id="classList" type="Lecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
		
        <result property="lectureTime" column="TOTAL"/>
        <result property="profName" column="NAME"/>
    </resultMap>
    
    <resultMap id="noticeList" type="ClassNotice">
    	<id property="nId" column="NOTICE_ID"/>
    	<result property="nTitle" column="NTITLE"/>
    	<result property="nContent" column="NCONTENT"/>
    	<result property="profId" column="PROFESSOR_ID"/>
    	<result property="classSeq" column="CLASS_SEQ"/>
    	<result property="nCount" column="RCOUNT"/>
    	<result property="nCreateDate" column="NCREATE_DATE"/>
    	<result property="nModifyDate" column="NMODIFY_DATE"/>
    	<result property="status" column="STATUS"/>
        <result property="profName" column="NAME"/>
    </resultMap>

	<resultMap id="assignmentList" type="ClassAssignment">
		<id property="aSeq" column="A_SEQ"/>
		<result property="aTitle" column="A_TITLE"/>
		<result property="aContent" column="A_CONTENT"/>
		<result property="dueDate" column="DUE_DATE"/>
		<result property="profId" column="PROFESSOR_ID"/>
		<result property="classSeq" column="CLASS_SEQ"/>
		<result property="aCount" column="ACOUNT"/>
		<result property="aCreateDate" column="ACREATE_DATE"/>
		<result property="aModifyDate" column="AMODIFY_DATE"/>
		<result property="aStatus" column="ASTATUS"/>
	</resultMap>
	
	<resultMap id="ProfessorResultSet" type="Professor">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="profPwd" column="PASSWORD"/>
      <result property="profName" column="NAME"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="profDepartment" column="DEPARTMENT_CODE"/>
      <result property="profImage" column="IMAGE"/>
      <result property="profSalary" column="SALARY"/>
      <result property="profPhone" column="PHONE"/>
      <result property="profEmail" column="EMAIL"/>
      <result property="profAddress" column="ADDRESS"/>
      <result property="profAddressDetail" column="ADDRESS_DETAIL"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCOUNT"/>
      <result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
      <result property="profSmsAgree" column="SMS_AGREE"/>
      <result property="profEmailAgree" column="EMAIL_AGREE"/>
      <result property="lab" column="LAB"/>
      <result property="status" column="STATUS"/>
      <result property="profTel" column="TEL"/>
   </resultMap>

	<select id="selectClassList" parameterType="hashMap" resultMap="classList">
		SELECT A.CLASS_SEQ, A.CLASS_CODE, A.PROFESSOR_ID, A.CLASS_NAME, A.GRADE_SIZE, A.CLASS_SEMESTER, B.NAME
		FROM (SELECT * 
		      FROM (SELECT * FROM TB_CLASS
		      WHERE CLASS_SEQ IN (SELECT CLASS_SEQ
		      FROM TB_REGISTER_CLASS
		      WHERE STUDENT_ID=#{userId}))
		      WHERE CLASS_YEAR=#{userYear}
		      AND CLASS_SEMESTER=#{userGrade}) A, TB_PROFESSOR B
		WHERE A.PROFESSOR_ID = B.PROFESSOR_ID
	</select>
	
	<select id="selectNoticeList" resultMap="noticeList">
		SELECT A.NOTICE_ID, A.NTITLE, B.NAME, A.NCREATE_DATE, A.STATUS, A.RCOUNT, PROFESSOR_ID
		FROM TB_NOTICE A JOIN TB_PROFESSOR B USING(PROFESSOR_ID)
		WHERE CLASS_SEQ=#{classSeq}
	</select>
	
	<select id="noticeDetail" resultMap="noticeList">
		SELECT A.NTITLE, A.STATUS, B.NAME, A.NCONTENT, A.RENAMEFILE
		FROM TB_NOTICE A JOIN TB_PROFESSOR B USING(PROFESSOR_ID)
		WHERE NOTICE_ID=#{nId}
	</select>
	      
	<select id="selectNoticeCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_NOTICE
		WHERE CLASS_SEQ = #{classSeq}
	</select>
	
	<select id="assignListCount" resultType="_int">
		SELECT COUNT(*)
		FROM TB_ASSIGNMENT
		WHERE CLASS_SEQ=#{classSeq}
	</select>
	
	<select id="assignmentList" resultMap="assignmentList">
		SELECT *
		FROM TB_ASSIGNMENT
		WHERE CLASS_SEQ=#{classSeq}
	</select>

	
	
</mapper>
