<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- typeAliases -->
    <typeAliases>
		<typeAlias type="com.kh.univ.member.model.vo.Student" alias="Student"/>
		<typeAlias type="com.kh.univ.stmanagement.model.vo.StudentManagement" alias="StudentManagement"/>
		<typeAlias type="com.kh.univ.payment.model.vo.Payment" alias="Payment"/>
		<typeAlias type="com.kh.univ.lecture.model.vo.Lecture" alias="Lecture"/>
		<typeAlias type="com.kh.univ.lecture.model.vo.LectureTime" alias="LectureTime"/>
        <typeAlias type="com.kh.univ.test.model.vo.Test" alias="Test"/>
        <typeAlias type="com.kh.univ.salary.model.vo.Salary" alias="Salary"/>
        <!-- <typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board"/>
        <typeAlias type="com.kh.spring.board.model.vo.Reply" alias="Reply"/> -->
    </typeAliases>

    <mappers>
        <mapper resource="mappers/test-mapper.xml"/>
        <!-- <mapper resource="mappers/board-mapper.xml"/> -->
        <mapper resource="mappers/member/student-mapper.xml"/>
        <mapper resource="mappers/myPage/studentMyPage-mapper.xml"/>
        <mapper resource="mappers/StudentManagement/studentManagement-mapper.xml"/>
        <mapper resource="mappers/payment/payment-mapper.xml"/>
        <mapper resource="mappers/lecture/lecture-mapper.xml"/>
        <mapper resource="mappers/admin/adminStudent-mapper.xml"/>
        <!-- <mapper resource="mappers/salary/salary-mapper.xml"/>  -->
    </mappers>
</configuration>