<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "adminStudentMapper">


	<resultMap id="StudentResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 		<collection property="department" resultMap="DepartmentResultSet"/>
 		<collection property="register" resultMap="RegisterResultSet"/>
 	</resultMap>
 	
 	
 	<resultMap id="DepartmentResultSet" type="Department">
 		<id property="departmentCode" column="DEPARTMENT_CODE"/>
 		<result property="departmentName" column="DEPARTMENT_NAME"/>
 		<result property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="capacity" column="CAPACITY"/>
 		<collection property="college" resultMap="CollegeResultSet"/>
 	</resultMap>
 	
 	<resultMap type="College" id="CollegeResultSet">
 		<id property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="collegeName" column="COLLEGE_NAME"/>
 	</resultMap>
 	
 	<resultMap type="Register" id="RegisterResultSet">
 		<id property="statusNO" column="STATUS_NO"/>
 		<result property="stdId" column="STUDENT_ID"/>
 		<result property="stdStatus" column="STUDENT_STATUS"/>
 		<result property="applicationStatus" column="APPLICATION_STATUS"/>
 		<result property="applicationDate" column="APPLICATION_DATE"/>
 		<result property="reasonsLeave" column="REASONS_LEAVE"/>
 		<result property="leavePeriod" column="LEAVE_PERIOD"/>
 		<result property="applicationDate" column="APPLICATION_DATE"/>
 		<result property="leaveDate" column="LEAVE_DATE"/>
 		<result property="returningDate" column="RETURNING_DATE"/>
 		<result property="graduationDate" column="GRADUATION_DATE"/>
 	</resultMap>
 	
 	<insert id="insertOne" parameterType="Student">
 	INSERT INTO TB_STUDENT 
	VALUES(#{stdId},#{stdPwd},#{stdName},#{stdBirth},#{stdDepartment},#{stdCourse},
	#{stdSemester},#{stdEnterDiv},#{stdImage},#{stdPhone},#{stdEmail},#{stdAddress},#{stdAddressDetail},
	#{stdBank},#{stdAccount},#{stdAccountHolder},#{stdSmsAgree},#{stdEmailAgree},#{stdEntrance},${stdTel},default)
 	</insert>
 	
 	
 	<!--관리자 학생 조회 / 수정 페이지 -> 전체 학생 조회  -->
 	<select id ="selectAdminStudent" parameterType="String" resultMap="StudentResultSet">
		Select STUDENT_ID,STUDENT_NAME, BIRTH_NO, DEPARTMENT_NAME, COLLEGE_NAME, COURSE,SEMESTER,STUDENT_STATUS
		FROM TB_STUDENT 
		LEFT JOIN TB_STUDENT_STATUS USING (STUDENT_ID)
		LEFT JOIN TB_DEPARTMENT USING (DEPARTMENT_CODE)
		LEFT JOIN TB_COLLEGE USING(COLLEGE_CODE)
 	</select>
 	
 	<!-- 관리자 학생 조회 단과대학 코드 -->
 	<select id="selectAdminDept" parameterType="College" resultMap="CollegeResultSet">
 	SELECT COLLEGE_CODE, COLLEGE_NAME
	FROM TB_COLLEGE
 	</select>
 	
  	<!-- 단과대학 코드로 학생 학과 조회 -->
  	<select id="selectDeptCheck" parameterType="Department" resultMap="DepartmentResultSet">
  	
  	SELECT DEPARTMENT_CODE, DEPARTMENT_NAME
	FROM TB_DEPARTMENT
	WHERE COLLEGE_CODE =#{collegeCode}
  	</select>
 	
 	<!--  관리자 학생 한명 조회 -->
 	<select id="selectOneAdminStudent" parameterType="Student" resultMap="StudentResultSet">
 	SELECT STUDENT_ID,STUDENT_NAME, BIRTH_NO, DEPARTMENT_CODE, IMAGE, COLLEGE_CODE, COURSE,SEMESTER,STUDENT_STATUS,ENTER_DIV,TEL,PHONE,EMAIL,BANK,ADDRESS,ADDRESS_DETAIL,STUDENT_ACCOUNT,ACCOUNT_HOLDER
	FROM TB_STUDENT 
	LEFT JOIN TB_STUDENT_STATUS USING (STUDENT_ID)
	LEFT JOIN TB_DEPARTMENT USING (DEPARTMENT_CODE)
	LEFT JOIN TB_COLLEGE USING(COLLEGE_CODE)
	WHERE STUDENT_ID=#{stdId}
 	</select>
 	
 	<!-- 관리자 학생 한명 수정 -->
 	<update id="selectOneUpdateAdminStudent" parameterType="Student" >
    	UPDATE TB_STUDENT
 		SET
 			STUDENT_NAME=#{stdName},
 			BIRTH_NO=#{stdBirth},
 		<!-- 	COLLEGE_CODE=#{stdCollege}, -->
 			DEPARTMENT_CODE=#{stdDepartment},
 			COURSE=#{stdCourse},
 			SEMESTER=#{stdSemester},
 			<!-- SCHOOL_REG=#{stdSchoolReg}, -->
 			ENTER_DIV=#{stdEnterDiv},
 			PHONE=#{stdPhone},
 			EMAIL=#{stdEmail},
 			ADDRESS=#{stdAddress},
 			ADDRESS_DETAIL=#{stdAddressDetail},
 			BANK=#{stdBank},
 			STUDENT_ACCOUNT=#{stdAccount},
 			ACCOUNT_HOLDER=#{stdAccountHolder},
 			TEL=#{stdTel}
 	  WHERE STUDENT_ID= #{stdId}
 	</update>

</mapper>