<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminLectureMapper">

<resultMap id="ProfessorResultSet" type="Professor">
	<id property="profId" column="PROFESSOR_ID"/>
	<result property="profPwd" column="PASSWORD"/>
	<result property="profName" column="NAME"/>
	<result property="profBirth" column="BIRTH_NO"/>
	<result property="profCollege" column=""/>
	<result property="profDepartment" column="DEPARTMENT_CODE"/>
	<result property="profImage" column="IMAGE"/>
	<result property="profSalary" column="SALARY"/>
	<result property="profTel" column=""/>
	<result property="profPhone" column="PHONE"/>
	<result property="profEmail" column="EMAIL"/>
	<result property="profAddress" column="ADDRESS"/>
	<result property="profAddressDetail" column="ADDRESS_DETAIL"/>
	<result property="profBank" column="BANK"/>
	<result property="profAccount" column="ACCOUNT"/>
	<result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
	<result property="profSmsAgree" column="SMS_AGREE"/>
	<result property="profEmailAgree" column="EMAIL_AGREE"/>
	<result property="lab" column="LAB"/>
	<result property="status" column="STATUS"/>

	

	<result property="collegeName" column="COLLEGE_NAME"/>
	<result property="departmentName" column="DEPARTMENT_NAME"/>
	<result property="collegeCode" column="COLLEGE_CODE"/>
	
</resultMap>

<!-- 관리자 강의 추가 리절트 맵-->
    <resultMap id="adLectureMap" type="AdLecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
        <result property="total" column="TOTAL"/>
        <result property="proName" column="PROFESSOR_NAME"/>
        <result property="collegeCode" column="COLLEGE_CODE"/>
	    <result property="classOutLine" column="CLASS_OUTLINE"/>
		<result property="classTarget" column="CLASS_TARGET"/>
		<result property="classBook" column="CLASS_BOOK"/>
    </resultMap>
    
    <resultMap id="adClassTimeMap" type="AdClassTime">
        <id property="classTimeSeq" column="CLASS_TIME_SEQ"/>
        <result property="classSeq" column="CLASS_SEQ"/>
        <result property="day" column="DAY"/>
        <result property="hour" column="HOUR"/>
    </resultMap>

    <!-- select ResultMap -->
    <resultMap type="AdDepartment" id="adDepartmentResultSet">
    	<id property="departmentCode" column="DEPARTMENT_CODE"/>
    	<result property="departmentName" column="DEPARTMENT_NAME"/>
    	<result property="collegeCode" column="COLLEGE_CODE"/>
    </resultMap>
    
    <resultMap type="AdCollege" id="adCollegeResultSet">
    	<id property="collegeCode" column="COLLEGE_CODE"/>
    	<result property="collegeName" column="COLLEGE_NAME"/>
    </resultMap>
    
    <resultMap type="AdProfessor" id="adProfessorResultSet">
    	<id property="ProfessorId" column="PROFESSOR_ID"/>
    	<result property="professorName" column="NAME"/>
    </resultMap>
    
    <!-- classPlan -->
    <resultMap type="AdClassPlan" id="adClassPlanResultSet">
    	<id property="planNO" column="PLAN_NO"/>
    	<result property="classSeq" column="CLASS_SEQ"/>
    	<result property="week" column="WEEK"/>
    	<result property="topic" column="TOPIC"/>
    	<result property="weekPlan" column="WEEK_PLAN"/>
    </resultMap>
    
    <!-- 단과대학 조회하기 (select -> option) -->
    <select id="adLectureCollege" parameterType="AdCollege" resultMap="adCollegeResultSet">
    SELECT COLLEGE_CODE, COLLEGE_NAME
	FROM TB_COLLEGE
    </select>
    <select id="adLectureDepartment" parameterType="AdDepartment" resultMap="adDepartmentResultSet">
    SELECT DEPARTMENT_CODE, DEPARTMENT_NAME
	FROM TB_DEPARTMENT
	WHERE COLLEGE_CODE=#{CollegeCode}
    </select>
    
    <select id="adLectureProfessor" parameterType="AdProfessor" resultMap="adProfessorResultSet">
    SELECT PROFESSOR_ID, NAME
	FROM TB_PROFESSOR
	WHERE DEPARTMENT_CODE = #{departmentCode}
    
    </select>
    
    <insert id="adminInsertLecture" parameterType="adLecture">
    	INSERT INTO TB_CLASS VALUES(SEQ_CLASS.NEXTVAL,#{classCode},#{deptCode},#{profId},#{className},#{room},#{gradeSize},#{classSemester}
    	,#{classYear},'Y',#{classLevel},#{classType})
    	
    
    </insert>
    <select id="findLecture" parameterType="AdLecture" resultMap="adLectureMap">
    SELECT CLASS_SEQ
    FROM TB_CLASS
   	WHERE CLASS_CODE=#{classCode}
    </select>
    <insert id="insertClassTime" parameterType="AdClassTime">
    INSERT INTO TB_CLASS_TIME VALUES
    (SEQ_CLASS_TIME.NEXTVAL,#{classSeq},#{day},#{hour})
    </insert>
    <select id="selectAdLectureList" parameterType="AdLecture" resultMap="adLectureMap">
       SELECT  a.CLASS_SEQ,
               a.CLASS_NAME,
               c.DEPARTMENT_NAME AS DEPARTMENT_CODE,
               d.NAME            AS PROFESSOR_NAME,
               subquery1.total,
               a.ROOM,
               a.CLASS_TYPE,
               a.GRADE_SIZE,
               a.CLASS_LEVEL
        FROM TB_CLASS a,
             (SELECT CLASS_SEQ, LISTAGG(CONCAT(DAY, HOUR), '/') WITHIN GROUP (ORDER BY CLASS_TIME_SEQ ) AS total
              FROM TB_CLASS_TIME b
              GROUP BY CLASS_SEQ) subquery1,
             TB_DEPARTMENT c,
             TB_PROFESSOR d
        WHERE subquery1.CLASS_SEQ = a.CLASS_SEQ
          AND a.DEPARTMENT_CODE = c.DEPARTMENT_CODE
          AND a.PROFESSOR_ID = d.PROFESSOR_ID
    </select>
    
    <select id="LectureSelectOne" parameterType="AdLecture" resultMap="adLectureMap">
          SELECT
               a.CLASS_SEQ,
               a.CLASS_NAME,
               a.CLASS_CODE,
               c.DEPARTMENT_CODE,
               a.PROFESSOR_ID,
               a.CLASS_TYPE,
               subquery1.total,
               a.ROOM,
               c.COLLEGE_CODE,
               a.CLASS_YEAR,
               a.CLASS_SEMESTER,
               a.GRADE_SIZE,
               a.CLASS_LEVEL,
               a.CLASS_OUTLINE,
               a.CLASS_TARGET,
               a.CLASS_BOOK
        FROM TB_CLASS a,
             (SELECT CLASS_SEQ, LISTAGG(CONCAT(DAY, HOUR), '/') WITHIN GROUP (ORDER BY CLASS_TIME_SEQ ) AS total
              FROM TB_CLASS_TIME b
              GROUP BY CLASS_SEQ) subquery1,
             TB_DEPARTMENT c,
             TB_PROFESSOR d
        WHERE subquery1.CLASS_SEQ = a.CLASS_SEQ
          AND a.DEPARTMENT_CODE = c.DEPARTMENT_CODE
          AND a.PROFESSOR_ID = d.PROFESSOR_ID
          AND a.CLASS_SEQ = #{classSeq}
    </select>
    
    <select id="lectureApprove" parameterType="AdLecture" resultMap="adLectureMap">
           SELECT  a.CLASS_SEQ,
               a.CLASS_NAME,
               c.DEPARTMENT_NAME AS DEPARTMENT_CODE,
               d.NAME            AS PROFESSOR_NAME,
               subquery1.total,
               a.ROOM,
               a.CLASS_APPROVE,
               a.GRADE_SIZE,
               a.CLASS_LEVEL
        FROM TB_CLASS a,
             (SELECT CLASS_SEQ, LISTAGG(CONCAT(DAY, HOUR), '/') WITHIN GROUP (ORDER BY CLASS_TIME_SEQ ) AS total
              FROM TB_CLASS_TIME b
              GROUP BY CLASS_SEQ) subquery1,
             TB_DEPARTMENT c,
             TB_PROFESSOR d
        WHERE subquery1.CLASS_SEQ = a.CLASS_SEQ
          AND a.DEPARTMENT_CODE = c.DEPARTMENT_CODE
          AND a.PROFESSOR_ID = d.PROFESSOR_ID
          AND a.CLASS_APPROVE = 'N'
    
    </select>
	
	<select id="classPlanSelect" parameterType="AdClassPlan" resultMap="adClassPlanResultSet">
		SELECT PLAN_NO,CLASS_SEQ,WEEK,TOPIC,WEEK_PLAN
		FROM CLASS_PLAN
		WHERE CLASS_SEQ=#{classSeq}
		ORDER BY WEEK
			
	</select>
</mapper>