/* 사이드바 */
.sidenav {
        background-color: #f1f1f1;
        position: fixed;
        width: 200px;
        height: 100%;
        margin-left: -20px;
        margin-top:50px
}
/* 본문 */
.page {
       margin-top:50px;
       margin-left: 200px;
      
}
/* margin-left : 250px => 200px*/
      
/* footer */
footer {
        background-color: #555;
        color: white;
        padding: 15px;
}

#content_title{
    margin-top: 30px;
    font-size: 40px;
    color: #252525;
    
    
}
#reg_table_area{
    padding: 10px; 
}
#reg_lecture{
    width: 100%;
    border-top: 5px solid rgb(46, 109, 151);
    color: #808080;
    
    
}
#reg_lecture tr{
    height: 40px;

    border-bottom: solid rgb(149, 149, 150) 1px;

}
#reg_lecture tr:nth-child(2n){
    background: #f8f6ff;
}

#reg_lecture tr input,#reg_lecture tr select{
    width: 300px;
}
#reg_lecture tr p{
    margin-bottom: 0;
    margin-left: 5px;
}
#reg_lecture_btn{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}
