<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="RegisterMapper">

  <resultMap id="RegisterResultSet" type="Register">
  <id property="stdId" column="STUDENT_ID"/>
  <result property="statusNO" column="STATUS_NO"/>
  <result property="stdStatus" column="STUDENT_STATUS"/>
  <result property="applicationStatus" column="APPLICATION_STATUS"/>
  <result property="applicationDate" column="APPLICATION_DATE"/>
  <result property="reasonsLeave" column="REASONS_LEAVE"/>
  <result property="leavePeriod" column="LEAVE_PERIOD"/>
  <result property="leaveDate" column="LEAVE_DATE"/>
  <result property="leaveDate" column="RETURNING_DATE"/>
  <result property="graduationDate" column="GRADUATION_DATE"/>
  </resultMap>
  
  <!-- 휴학페이지 -->
  <select id="selectLeave" resultMap="RegisterResultSet">
     SELECT 
        STATUS_NO,
        STUDENT_STATUS,
        APPLICATION_STATUS,
        APPLICATION_DATE,
        REASONS_LEAVE,
        LEAVE_PERIOD,
        LEAVE_DATE
     FROM
            TB_STUDENT_STATUS
     WHERE STUDENT_ID = #{stdId}      
     
  </select>
  
  <insert id="leaveAppl">
       INSERT INTO TB_STUDENT_STATUS 
           (STATUS_NO,
			STUDENT_ID,
			STUDENT_STATUS,
			APPLICATION_STATUS,
			APPLICATION_DATE,
			REASONS_LEAVE,
			LEAVE_PERIOD)
	  VALUES
	  (SEQ_STATUS.NEXTVAL, #{stdId}, #{stdStatus}, '휴학신청중', SYSDATE, #{reasonsLeave}, #{leavePeriod})	
	  	
  </insert>
  
  </mapper>