<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentManagementMapper">
	<resultMap id="StudentManagementResultSet" type="StudentManagement">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="className" column="CLASS_NAME"/>
 		<result property="classId" column="CLASS_ID"/>
 		<result property="classType" column="CLASS_TYPE"/>
 		<result property="classTime" column="CLASS_TIME"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdDepartment" column="DEPARTMENT"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdTel" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 	</resultMap>

	<!-- 수강생 조회 매퍼  -->
	<select id="selectList" resultMap="StudentManagementResultSet">
		SELECT
			CLASS_NAME,
			CLASS_NO,
			CLASS_TYPE,
			CLASS_TIME
		FROM
			TB_CLASS
	</select>
	
	<!-- 수강생 상세조회 매퍼 -->
	<select id="selectdDetailList" resultMap="StudentManagementResultSet">
		SELECT
		    CLASS_NO,
		    CLASS_NAME,
		    STUDENT_NAME,
		    STUDENT_ID,
		    DEPARTMENT,
		    SEMESTER,
		    PHONE,
		    EMAIL
		FROM
		    TB_STUDENT
    	JOIN TB_CLASS ON(SEMESTER = CLASS_SEMESTER)
	</select>
</mapper>