<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentManagementMapper">

	<resultMap id="StudentManagementResultSet" type="StudentManagement">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="className" column="CLASS_NAME"/>
 		<result property="classId" column="CLASS_CODE"/>
 		<result property="classType" column="CLASS_TYPE"/>
 		<result property="classTime" column="CLASS_TIME"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdDepartment" column="DEPARTMENT_NAME"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdTel" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="roomNo" column="ROOM"/>
 		<result property="profId" column="PROFESSOR_ID"/>
 		<result property="classSeq" column="CLASS_SEQ"/>
 	</resultMap>
 	
	<resultMap id="GradeResultSet" type="GradeA">
 		<id property="gradeNo" column="GRADE_NO"/>
 		<result property="stdId" column="STUDENT_ID"/>
 		<result property="classId" column="CLASS_CODE"/>
 		<result property="gradePoint" column="GRADE_POINT"/>
 		<result property="classSeq" column="CLASS_SEQ"/>
 		<result property="className" column="CLASS_NAME"/>
 	</resultMap>
 	
 	<resultMap type="GradeInsert" id="GradeInsertResultSet">
 		<id property="gradeNo" column="GRADE_NO"></id>
 		<result property="stdId" column="STUDENT_ID"></result>
 		<result property="profId" column="PROFESSOR_ID"></result>
 		<result property="classId" column="CLASS_CODE"></result>
 		<result property="gradePoint" column="GRADE_POINT"></result>
 		<result property="classSemester" column="CLASS_SEMESTER"></result>
 		<result property="classYear" column="CLASS_YEAR"></result>
 	</resultMap>

	<!-- 수강생 조회 매퍼  -->
	<select id="selectList" resultMap="StudentManagementResultSet">
		SELECT
			CLASS_NAME,
			CLASS_SEQ,
			CLASS_TYPE,
			ROOM
		FROM
			TB_CLASS
		WHERE
			PROFESSOR_ID = #{profId}
	</select>
	
	<!-- 수강생 상세조회 매퍼 -->
	<!-- <select id="selectdDetailList" resultMap="StudentManagementResultSet">
		SELECT
			STUDENT_NAME,STUDENT_ID,CLASS_CODE,CLASS_NAME,DEPARTMENT_NAME,SEMESTER,PHONE,EMAIL
		FROM
			TB_STUDENT
		LEFT JOIN
			TB_DEPARTMENT USING(DEPARTMENT_CODE)
		LEFT JOIN
			TB_CLASS USING(DEPARTMENT_CODE)
		WHERE
			CLASS_CODE = #{classId}
		ORDER BY
			STUDENT_NAME
	</select> -->
	
	<!-- 수강생 상세조회 매퍼 -->
	<select id="selectdDetailList" resultMap="StudentManagementResultSet">
		SELECT
			S.STUDENT_NAME, S.STUDENT_ID, C.CLASS_CODE, C.CLASS_NAME, S.SEMESTER, S.PHONE, S.EMAIL, C.CLASS_SEQ
		FROM
			TB_STUDENT S
		LEFT OUTER JOIN
			TB_REGISTER_CLASS R ON S.STUDENT_ID = R.STUDENT_ID
		LEFT OUTER JOIN
			TB_CLASS C ON R.CLASS_SEQ = C.CLASS_SEQ
		WHERE
			C.CLASS_SEQ = #{classSeq} AND PROFESSOR_ID = #{profId}
	</select>
	

	<!--  성적관리 조회 -->
	<select id="gradeView" resultMap="StudentManagementResultSet">
		SELECT
			C.CLASS_SEQ,
			C.CLASS_NAME,
			S.STUDENT_ID,
			C.CLASS_CODE
		FROM
			TB_STUDENT S
		LEFT OUTER JOIN
			TB_REGISTER_CLASS R ON S.STUDENT_ID = R.STUDENT_ID
		LEFT OUTER JOIN
			TB_CLASS C ON R.CLASS_SEQ = C.CLASS_SEQ
		WHERE
			C.CLASS_SEQ = #{classSeq} AND PROFESSOR_ID = #{profId}
	</select>
	
	<insert id="grade" >
		INSERT INTO TB_GRADE
		(CLASS_CODE,STUDENT_ID,GRADE_POINT,GRADE_NO)
		VALUES(#{classId},#{stdId},#{gradePoint},GRADE_NO.NEXTVAL)
	</insert>
</mapper>