<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LectureEvaluationMapper">
	<!-- 수업 ResultMap -->
 	<resultMap id="LectureResultSet" type="Lecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
        <result property="profName" column="PROFESSOR_NAME"/>
    </resultMap>
    
    <!-- 수업시간 ResultMap -->
    <resultMap id="LectureTimeResultSet" type="LectureTime">
        <id property="ctSeq" column="CLASS_TIME_SEQ"/>
        <result property="classSeq" column="CLASS_SEQ"/>
        <result property="day" column="DAY"/>
        <result property="hour" column="HOUR"/>
    </resultMap>
    
    <!-- 수강신청 ResultMap -->
    <resultMap id="LectureApplicationResultSet" type="LectureApplication">
    	<id property="registerSeq" column="REGISTER_SEQ"/>
        <result property="stdId" column="STUDENT_ID"/>
        <result property="classSeq" column="CLASS_SEQ"/>
    </resultMap>
    
    <!-- 학생 ResultMap -->
    <resultMap id="StudentResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 	</resultMap>
    
    <!-- 교수 ResultMap -->
    <resultMap id="ProfessorResultSet" type="Professor">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="profPwd" column="PASSWORD"/>
      <result property="profName" column="NAME"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="profDepartment" column="DEPARTMENT_CODE"/>
      <result property="profImage" column="IMAGE"/>
      <result property="profSalary" column="SALARY"/>
      <result property="profPhone" column="PHONE"/>
      <result property="profEmail" column="EMAIL"/>
      <result property="profAddress" column="ADDRESS"/>
      <result property="profAddressDetail" column="ADDRESS_DETAIL"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCOUNT"/>
      <result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
      <result property="profSmsAgree" column="SMS_AGREE"/>
      <result property="profEmailAgree" column="EMAIL_AGREE"/>
      <result property="lab" column="LAB"/>
      <result property="status" column="STATUS"/>
      <result property="profTel" column="TEL"/>
   </resultMap>
    
    <!-- 수업시간 조회 ResultMap -->
    <resultMap id="StdScheduleResultSet" type="Lecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
        <result property="profName" column="PROFESSOR_NAME"/>
        <collection property="time" resultMap="LectureTimeResultSet"/>
 		<collection property="lectureApplication" resultMap="LectureApplicationResultSet"/>
 		<collection property="student" resultMap="StudentResultSet"/>
 		<collection property="professor" resultMap="ProfessorResultSet"/>
    </resultMap>
    
    <select id="selectStdSchdule" parameterType="Lecture" resultMap="StdScheduleResultSet">
		SELECT C.CLASS_CODE, C.CLASS_NAME, C.ROOM, C.CLASS_TYPE, P.NAME
		FROM TB_STUDENT S
		LEFT OUTER JOIN TB_REGISTER_CLASS R ON S.STUDENT_ID = R.STUDENT_ID
		LEFT OUTER JOIN TB_CLASS C ON R.CLASS_SEQ = C.CLASS_SEQ
		LEFT OUTER JOIN TB_PROFESSOR P ON C.PROFESSOR_ID = P.PROFESSOR_ID
		WHERE S.STUDENT_ID = #{stdId} AND C.CLASS_YEAR = #{classYear} AND C.CLASS_SEMESTER = #{classSemester}
 	</select>
</mapper>