<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PaymentMapper">
   <resultMap id="PaymentResultSet" type="Payment">
      <id property="stdId" column="STUDENT_ID"/>
      <result property="schoolYear" column="SCHOOL_YEAR"/>
      <result property="semester" column="SEMESTER"/>
      <result property="grade" column="GRADE"/>
      <result property="dueDate" column="DUE_DATE"/>
      <result property="paymentAmount" column="PAYMENT_AMOUNT"/>
      <result property="totalScholarships" column="TOTAL_SCHOLARSHIPS"/>
      <result property="totalPayment" column="TOTAL_PAYMENTS"/>
      <result property="name" column="NAME"/>
      <result property="department" column="DEPARTMENT"/>
      <result property="date" column="BIRTH_NO"/>
      <result property="address" column="ADDRESS"/>
      <result property="entranceFee" column="ENTRANCE_FEE"/>
      <result property="schoolFee" column="SCHOOL_FEE"/>
      <result property="campusScholarship" column="CAMPUS_SCHOLARSHIP"/>
      <result property="suburbanScholartship" column="SUBURBAN_SCHOLARSHIP"/>
      <result property="nationalScholarship" column="NATIONAL_SCHOLARSHIP"/>
      <result property="paperGuidanceFee" column="PAPER_GUIDANCE_FEE"/>
      <result property="studentFees" column="STUDENT_FEES"/>
      <result property="alumniFee" column="ALUMNI_FEE"/>
      <result property="makePaymentDate" column="MAKE_PAYMENT_DATE"/>
   </resultMap>
   
   <!-- 등록금리스트 -->
   <select id="selectList" resultMap="PaymentResultSet">
        SELECT 
           SCHOOL_YEAR,
           SEMESTER,
           GRADE,
           DUE_DATE,
           PAYMENT_AMOUNT,
           TOTAL_SCHOLARSHIPS,
           TOTAL_PAYMENTS
      FROM
          TB_PAYMENT 

   </select>
   
   <!-- 등록금상세페이지 -->
   
   
   
</mapper>