<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PaymentMapper">
   <resultMap id="PaymentResultSet" type="Payment">
      <id property="stdId" column="STUDENT_ID"/>
      <result property="schoolYear" column="SCHOOL_YEAR"/>
      <result property="semester" column="SEMESTER"/>
      <result property="dueDate" column="DUE_DATE"/>
      <result property="paymentAmount" column="PAYMENT_AMOUNT"/>
      <result property="totalScholarships" column="TOTAL_SCHOLARSHIPS"/>
      <result property="totalPayment" column="TOTAL_PAYMENTS"/>
      <result property="stdName" column="STUDENT_NAME"/>
      <result property="birth_No" column="BIRTH_NO"/>
      <result property="department" column="DEPARTMENT"/>
      <result property="address" column="ADDRESS"/>
      <result property="entranceFee" column="ENTRANCE_FEE"/>
      <result property="schoolFee" column="SCHOOL_FEE"/>
      <result property="campusScholarship" column="CAMPUS_SCHOLARSHIP"/>
      <result property="suburbanScholartship" column="SUBURBAN_SCHOLARSHIP"/>
      <result property="nationalScholarship" column="NATIONAL_SCHOLARSHIP"/>
      <result property="paperGuidanceFee" column="PAPER_GUIDANCE_FEE"/>
      <result property="studentFees" column="STUDENT_FEES"/>
      <result property="alumniFee" column="ALUMNI_FEE"/>
      <result property="makePaymentDate" column="MAKE_PAYMENT_DATE"/>
   </resultMap>
   
   <!-- 등록금리스트 -->
   <select id="selectList"  resultMap="PaymentResultSet">
<!--         SELECT 
           SCHOOL_YEAR = #{schoolYear}
          ,SEMESTER = #{semester}
          ,DUE_DATE = #{dueDate}
          ,PAYMENT_AMOUNT = #{paymentAmount}
          ,TOTAL_SCHOLARSHIPS = #{totalScholarship}
          ,TOTAL_PAYMENTS = #{tatalPayment}
      FROM
          TB_PAYMENT
      JOIN TB_STUDENT USING(STUDENT_ID = #{stdId})     -->
      
      SELECT 
           SCHOOL_YEAR 
          ,SEMESTER
          ,DUE_DATE
          ,PAYMENT_AMOUNT 
          ,TOTAL_SCHOLARSHIPS
          ,TOTAL_PAYMENTS
      FROM
          TB_PAYMENT
      JOIN TB_STUDENT USING(STUDENT_ID) 

   </select>
   
   <!-- 등록금상세페이지 -->
   <select id="selectDetailList" resultMap="PaymentResultSet">
       SELECT
		  STUDENT_NAME,
		  BIRTH_NO,
		  DEPARTMENT,
		  DUE_DATE,
		  STUDENT_ID,
		  ADDRESS,
		  ENTRANCE_FEE,
		  SCHOOL_FEE,
		  CAMPUS_SCHOLARSHIP,
		  SUBURBAN_SCHOLARSHIP,
		  NATIONAL_SCHOLARSHIP,
		  PAPER_GUIDANCE_FEE,
		  STUDENT_FEES,
		  ALUMNI_FEE,
		  MAKE_PAYMENT_DATE
      FROM
          TB_PAYMENT
      JOIN TB_STUDENT USING(STUDENT_ID)
   </select>
   
   
   
</mapper>