<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ProfessorMapper">
    <resultMap id="ProfessorResultSet" type="Professor">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="profPwd" column="PASSWORD"/>
      <result property="profName" column="NAME"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="profDepartment" column="DEPARTMENT_CODE"/>
      <result property="profImage" column="IMAGE"/>
      <result property="profSalary" column="SALARY"/>
      <result property="profPhone" column="PHONE"/>
      <result property="profEmail" column="EMAIL"/>
      <result property="profAddress" column="ADDRESS"/>
      <result property="profAddressDetail" column="ADDRESS_DETAIL"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCOUNT"/>
      <result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
      <result property="profSmsAgree" column="SMS_AGREE"/>
      <result property="profEmailAgree" column="EMAIL_AGREE"/>
      <result property="lab" column="LAB"/>
      <result property="status" column="STATUS"/>
      <result property="profTel" column="TEL"/>
   </resultMap>

	<select id="loginProfessor" parameterType="Professor" resultMap="ProfessorResultSet">
		SELECT * FROM TB_PROFESSOR
		WHERE PROFESSOR_ID = #{profId}
	</select>
	
	<select id="findByNameAndEmail" parameterType="Professor" resultMap="ProfessorResultSet">
		SELECT * FROM TB_PROFESSOR
		WHERE NAME = #{profName} AND EMAIL = #{profEmail}
	</select>
	
	<select id="findByIdAndNameAndEmail" parameterType="Professor" resultMap="ProfessorResultSet">
		SELECT * FROM TB_PROFESSOR
		WHERE PROFESSOR_ID = #{profId} AND NAME = #{profName} AND EMAIL = #{profEmail}
	</select>
	
	<update id="updateById" parameterType="Professor">
		UPDATE TB_STUDENT
			SET PASSWORD = #{profPwd}
		WHERE PROFESSOR_ID = #{profId}
	</update>
	
</mapper>