<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentMyPageMapper">
	<!-- 학생 ResultMap -->
	<resultMap id="StudentResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 	</resultMap>
 	
 	<!-- 학과 ResultMap -->
 	<resultMap id="DepartmentResultSet" type="Department">
 		<id property="departmentCode" column="DEPARTMENT_CODE"/>
 		<result property="departmentName" column="DEPARTMENT_NAME"/>
 		<result property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="capacity" column="CAPACITY"/>
 		<collection property="college" resultMap="CollegeResultSet"/>
 	</resultMap>
 	
 	<!-- 단과대 ResultMap -->
 	<resultMap id="CollegeResultSet" type="College">
 		<id property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="collegeName" column="COLLEGE_NAME"/>
 	</resultMap>
 	
 	<!-- 학적 ResultMap -->
 	<resultMap id="RegisterResultSet" type="Register">
 		<id property="statusNO" column="STATUS_NO"/>
 		<result property="stdId" column="STUDENT_ID"/>
 		<result property="stdStatus" column="STUDENT_STATUS"/>
 		<result property="applicationStatus" column="APPLICATION_STATUS"/>
 		<result property="applicationDate" column="APPLICATION_DATE"/>
 		<result property="reasonsLeave" column="REASONS_LEAVE"/>
 		<result property="leavePeriod" column="LEAVE_PERIOD"/>
 		<result property="leaveDate" column="LEAVE_DATE"/>
 		<result property="returningDate" column="RETURNING_DATE"/>
 		<result property="graduationDate" column="GRADUATION_DATE"/>
 	</resultMap>
 	
 	<!-- 학생 학적 조회 ResultMap -->
 	<resultMap id="StdStatusResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 		<collection property="register" resultMap="RegisterResultSet"/>
 	</resultMap>
 	
 	<!-- 학생 단과대, 학적 조회 ResultMap -->
 	<resultMap id="StdDepartmentResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 		<collection property="department" resultMap="DepartmentResultSet"/>
 		<collection property="college" resultMap="CollegeResultSet"/>
 	</resultMap>
 	
 	<!-- 수업 ResultMap -->
 	<resultMap id="LectureResultSet" type="Lecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
        <result property="profName" column="PROFESSOR_NAME"/>
    </resultMap>
    
    <!-- 수업시간 ResultMap -->
    <resultMap id="LectureTimeResultSet" type="LectureTime">
        <id property="ctSeq" column="CLASS_TIME_SEQ"/>
        <result property="classSeq" column="CLASS_SEQ"/>
        <result property="day" column="DAY"/>
        <result property="hour" column="HOUR"/>
    </resultMap>
    
    <!-- 수강신청 ResultMap -->
    <resultMap id="LectureApplicationResultSet" type="LectureApplication">
    	<id property="registerSeq" column="REGISTER_SEQ"/>
        <result property="stdId" column="STUDENT_ID"/>
        <result property="classSeq" column="CLASS_SEQ"/>
    </resultMap>
    
    <!-- 교수 ResultMap -->
    <resultMap id="ProfessorResultSet" type="Professor">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="profPwd" column="PASSWORD"/>
      <result property="profName" column="NAME"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="profDepartment" column="DEPARTMENT_CODE"/>
      <result property="profImage" column="IMAGE"/>
      <result property="profSalary" column="SALARY"/>
      <result property="profPhone" column="PHONE"/>
      <result property="profEmail" column="EMAIL"/>
      <result property="profAddress" column="ADDRESS"/>
      <result property="profAddressDetail" column="ADDRESS_DETAIL"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCOUNT"/>
      <result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
      <result property="profSmsAgree" column="SMS_AGREE"/>
      <result property="profEmailAgree" column="EMAIL_AGREE"/>
      <result property="lab" column="LAB"/>
      <result property="status" column="STATUS"/>
      <result property="profTel" column="TEL"/>
   </resultMap>
   
       <!-- 교수  조회 ResultMap -->
    <resultMap id="SelectProfessorResultSet" type="Professor">
      <id property="profId" column="PROFESSOR_ID"/>
      <result property="profPwd" column="PASSWORD"/>
      <result property="profName" column="NAME"/>
      <result property="profBirth" column="BIRTH_NO"/>
      <result property="profDepartment" column="DEPARTMENT_CODE"/>
      <result property="profImage" column="IMAGE"/>
      <result property="profSalary" column="SALARY"/>
      <result property="profPhone" column="PHONE"/>
      <result property="profEmail" column="EMAIL"/>
      <result property="profAddress" column="ADDRESS"/>
      <result property="profAddressDetail" column="ADDRESS_DETAIL"/>
      <result property="profBank" column="BANK"/>
      <result property="profAccount" column="ACCOUNT"/>
      <result property="profAccountHolder" column="ACCOUNT_HOLDER"/>
      <result property="profSmsAgree" column="SMS_AGREE"/>
      <result property="profEmailAgree" column="EMAIL_AGREE"/>
      <result property="lab" column="LAB"/>
      <result property="status" column="STATUS"/>
      <result property="profTel" column="TEL"/>
	  <result property="departmentName" column="DEPARTMENT_NAME"/>
	  <result property="collegeName" column="COLLEGE_NAME"/>
    </resultMap>
    
    <!-- 수업시간 조회 ResultMap -->
    <resultMap id="StdScheduleResultSet" type="Lecture">
        <id property="classSeq" column="CLASS_SEQ"/>
        <result property="classCode" column="CLASS_CODE"/>
        <result property="deptCode" column="DEPARTMENT_CODE"/>
        <result property="profId" column="PROFESSOR_ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="room" column="ROOM"/>
        <result property="gradeSize" column="GRADE_SIZE"/>
        <result property="classSemester" column="CLASS_SEMESTER"/>
        <result property="classYear" column="CLASS_YEAR"/>
        <result property="classApprove" column="CLASS_APPROVE"/>
        <result property="classLevel" column="CLASS_LEVEL"/>
        <result property="classType" column="CLASS_TYPE"/>
        <result property="profName" column="PROFESSOR_NAME"/>
        <collection property="time" resultMap="LectureTimeResultSet"/>
 		<collection property="lectureApplication" resultMap="LectureApplicationResultSet"/>
 		<collection property="professor" resultMap="ProfessorResultSet"/>
    </resultMap>
    
    <resultMap id="ConsultingResultSet" type="Consulting">
    	<id property="consultingNo" column="CONSULTING_NO"/>
    	<result property="stdId" column="STUDENT_ID"/>
    	<result property="profId" column="PROFESSOR_ID"/>
    	<result property="consultingStatus" column="CONSULTING_STATUS"/>
    	<result property="applyDate" column="APPLY_DATE"/>
    	<result property="progressDate" column="PROGRESS_DATE"/>
    	<result property="completeDate" column="COMPLETE_DATE"/>
    	<result property="cancleDate" column="CANCLE_DATE"/>
    	<result property="stdName" column="STUDENT_NAME"/>
    	<result property="profName" column="NAME"/>
    </resultMap>
    
 	<!-- 학생 개인정보 변경 -->
 	<update id="changeStdPersonalInfo">
 		UPDATE TB_STUDENT SET
 		TEL = #{stdTel}, PHONE = #{stdPhone}, EMAIL = #{stdEmail}, ADDRESS = #{stdAddress}, ADDRESS_DETAIL = #{stdAddressDetail}, 
 		BANK = #{stdBank}, STUDENT_ACCOUNT = #{stdAccount}, ACCOUNT_HOLDER = #{stdAccountHolder}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<!-- 학생 개인정보 동의 변경 -->
 	<update id="changeStdAgreeInfo">
 		UPDATE TB_STUDENT SET
 		SMS_AGREE = #{stdSmsAgree}, EMAIL_AGREE = #{stdEmailAgree}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<!-- 학생 비밀번호 확인 -->
 	<select id="checkStdPwd" parameterType="Student" resultMap="StudentResultSet">
		SELECT * FROM TB_STUDENT
		WHERE STUDENT_ID = #{stdId}
 	</select>
 	
 	<!-- 학생 비밀번호 변경 -->
 	<update id="changeStdPassword">
 		UPDATE TB_STUDENT SET
 		STUDENT_PASSWORD = #{stdPwd}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<!-- 학생 학적 조회 -->
 	<select id="selectStdStatus" parameterType="Student" resultMap="StdStatusResultSet">
		SELECT * FROM TB_STUDENT S
		LEFT OUTER JOIN TB_STUDENT_STATUS ON S.STUDENT_ID = TB_STUDENT_STATUS.STUDENT_ID
		WHERE S.STUDENT_ID = #{stdId}
 	</select>
 	
 	<!-- 학생 학부, 학과 조회 -->
 	<select id="selectStdDepartment" parameterType="Student" resultMap="StdDepartmentResultSet">
 		SELECT * FROM TB_STUDENT
		LEFT OUTER JOIN TB_DEPARTMENT ON TB_STUDENT.DEPARTMENT_CODE = TB_DEPARTMENT.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE ON TB_DEPARTMENT.COLLEGE_CODE = TB_COLLEGE.COLLEGE_CODE
		WHERE STUDENT_ID = #{stdId}
 	</select>
 	
 	<!-- 학생 시간표 조회 -->
 	<select id="selectStdSchdule" parameterType="Lecture" resultMap="StdScheduleResultSet">
 		SELECT CLASS_NAME, CLASS_YEAR, CLASS_SEMESTER, ROOM, NAME, DAY, HOUR
		FROM TB_STUDENT S
		LEFT OUTER JOIN TB_REGISTER_CLASS R ON S.STUDENT_ID = R.STUDENT_ID
		LEFT OUTER JOIN TB_CLASS C ON R.CLASS_SEQ = C.CLASS_SEQ
		LEFT OUTER JOIN TB_CLASS_TIME T ON R.CLASS_SEQ = T.CLASS_SEQ
		LEFT OUTER JOIN TB_PROFESSOR P ON C.PROFESSOR_ID = P.PROFESSOR_ID
		WHERE S.STUDENT_ID = #{stdId} AND C.CLASS_YEAR = #{classYear} AND C.CLASS_SEMESTER = #{classSemester}
 	</select>
 	
 	<!-- 교수 조회 -->
 	<select id="selectProfessor" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
		WHERE D.COLLEGE_CODE = #{profCollege} AND D.DEPARTMENT_NAME = #{departmentName} AND P.NAME = #{profName}
 	</select>
 	<select id="selectProfessorCD" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
		WHERE D.COLLEGE_CODE = #{profCollege} AND D.DEPARTMENT_NAME = #{departmentName}
 	</select>
 	<select id="selectProfessorCN" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
		WHERE D.COLLEGE_CODE = #{profCollege} AND P.NAME = #{profName}
 	</select>
 	<select id="selectProfessorN" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
		WHERE NAME = #{profName}
 	</select>
 	<select id="selectProfessorC" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
		WHERE D.COLLEGE_CODE = #{profCollege}
 	</select>
 	<select id="selectProfessorAll" parameterType="Professor" resultMap="SelectProfessorResultSet">
 		SELECT P.NAME, P.PROFESSOR_ID, P.LAB, D.DEPARTMENT_NAME, C.COLLEGE_NAME
		FROM TB_PROFESSOR P
		LEFT OUTER JOIN TB_DEPARTMENT D ON P.DEPARTMENT_CODE = D.DEPARTMENT_CODE
		LEFT OUTER JOIN TB_COLLEGE C ON D.COLLEGE_CODE = C.COLLEGE_CODE
 	</select>
 	
 	<!-- 상단 신청 -->
 	<insert id="applyConsulting">
		INSERT INTO TB_CONSULTING
		(CONSULTING_NO, STUDENT_ID, PROFESSOR_ID, CONSULTING_STATUS, APPLY_DATE)
		VALUES
		(SEQ_CONSULTING.NEXTVAL, #{stdId}, #{profId}, '신청', SYSDATE)
 	</insert>
 	
 	<!-- 상담 신청 조회 -->
    <select id="selectConsulting" parameterType="Consulting" resultMap="ConsultingResultSet">
		SELECT  C.CONSULTING_NO, C.STUDENT_ID, C.PROFESSOR_ID, C.CONSULTING_STATUS, C.APPLY_DATE, C.PROGRESS_DATE, C.COMPLETE_DATE, C.CANCLE_DATE,
		S.STUDENT_NAME, P.NAME
		FROM TB_CONSULTING C
		LEFT OUTER JOIN TB_STUDENT S ON C.STUDENT_ID = S.STUDENT_ID
		LEFT OUTER JOIN TB_PROFESSOR P ON C.PROFESSOR_ID = P.PROFESSOR_ID
		WHERE C.STUDENT_ID = #{stdId}
 	</select>
 	
 	<update id="cancleConsulting">
 		UPDATE TB_CONSULTING SET CONSULTING_STATUS = '취소'
		WHERE CONSULTING_NO = #{consultingNo}
 	</update>
 </mapper>