<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="StudentMyPageMapper">
	<resultMap id="StudentResultSet" type="Student">
 		<id property="stdId" column="STUDENT_ID"/>
 		<result property="stdPwd" column="STUDENT_PASSWORD"/>
 		<result property="stdName" column="STUDENT_NAME"/>
 		<result property="stdBirth" column="BIRTH_NO"/>
 		<result property="stdCollege" column="COLLEGE"/>
 		<result property="stdDepartment" column="DEPARTMENT_CODE"/>
 		<result property="stdCourse" column="COURSE"/>
 		<result property="stdSemester" column="SEMESTER"/>
 		<result property="stdEnterDiv" column="ENTER_DIV"/>
 		<result property="stdImage" column="IMAGE"/>
 		<result property="stdTuition" column="TUITION"/>
 		<result property="stdSchoolReg" column="SCHOOL_REG"/>
 		<result property="stdPhone" column="PHONE"/>
 		<result property="stdEmail" column="EMAIL"/>
 		<result property="stdAddress" column="ADDRESS"/>
 		<result property="stdAddressDetail" column="ADDRESS_DETAIL"/>
 		<result property="stdBank" column="BANK"/>
 		<result property="stdAccount" column="STUDENT_ACCOUNT"/>
 		<result property="stdAccountHolder" column="ACCOUNT_HOLDER"/>
 		<result property="stdSmsAgree" column="SMS_AGREE"/>
 		<result property="stdEmailAgree" column="EMAIL_AGREE"/>
 		<result property="stdEntrance" column="ENTRANCE_DATE"/>
 		<result property="stdTel" column="TEL"/>
 		<collection property="department" resultMap="DepartmentResultSet"/>
 	</resultMap>
 	
 	<resultMap id="DepartmentResultSet" type="Department">
 		<id property="departmentCode" column="DEPARTMENT_CODE"/>
 		<result property="departmentName" column="DEPARTMENT_NAME"/>
 		<result property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="capacity" column="CAPACITY"/>
 		<collection property="college" resultMap="CollegeResultSet"/>
 	</resultMap>
 	
 	<resultMap type="College" id="CollegeResultSet">
 		<id property="collegeCode" column="COLLEGE_CODE"/>
 		<result property="collegeName" column="COLLEGE_NAME"/>
 	</resultMap>
 	
 	<update id="changeStdPersonalInfo">
 		UPDATE TB_STUDENT SET
 		TEL = #{stdTel}, PHONE = #{stdPhone}, EMAIL = #{stdEmail}, ADDRESS = #{stdAddress}, ADDRESS_DETAIL = #{stdAddressDetail}, 
 		BANK = #{stdBank}, STUDENT_ACCOUNT = #{stdAccount}, ACCOUNT_HOLDER = #{stdAccountHolder}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<update id="changeStdAgreeInfo">
 		UPDATE TB_STUDENT SET
 		SMS_AGREE = #{stdSmsAgree}, EMAIL_AGREE = #{stdEmailAgree}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<select id="checkStdPwd" parameterType="Student" resultMap="StudentResultSet">
		SELECT * FROM TB_STUDENT
		WHERE STUDENT_ID = #{stdId}
 	</select>
 	
 	<update id="changeStdPassword">
 		UPDATE TB_STUDENT SET
 		STUDENT_PASSWORD = #{stdPwd}
 		WHERE STUDENT_ID = #{stdId}
 	</update>
 	
 	<select id="selectStdInfo" parameterType="Student" resultMap="StudentResultSet">
		SELECT * FROM TB_STUDENT
		LEFT OUTER JOIN TB_DEPARTMENT ON TB_STUDENT.DEPARTMENT_CODE = TB_DEPARTMENT.DEPARTMENT_CODE
		WHERE STUDENT_ID = #{stdId}
 	</select>
 </mapper>